body{
    background-image: url('https://faithmag.com/sites/default/files/styles/article_full/public/2018-09/titanic2.jpg?h=6521bd5e&itok=H8td6QVv');
}
h1{
    font-size: 30px;
    color: pink;
}
h2{
    font-size: 20px;
    color: hotpink;
}
.big{
    font-size:50px;
}
.upper{
    text-transform:uppercase;
}
.big.upper{
    color:navy;
}
span{
    color:red;
}
h1 span{
    color:violet;
}